@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/Fira_Sans/FiraSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/Fira_Sans/FiraSans-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/Fira_Sans/FiraSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo_2/Exo2-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo_2/Exo2-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo_2/Exo2-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo_2/Exo2-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url("../fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url("../fonts/Source_Serif_Pro/SourceSerifPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url("../fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url("../fonts/Source_Serif_Pro/SourceSerifPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-top: 15px;
}

pre {
  padding-left: 20px;
}

.body p {
  margin-top: 15px;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: .9em;
}

.italic {
  font-style: italic;
}

.no-italic {
  font-style: normal;
}

.center {
  text-align: center;
}

.start-larger {
  font-size: 1.2em;
  font-weight: bold;
}

.black {
  color: black !important;
}

.normalize {
  font-weight: normal;
}

body {
  font-family: 'Fira Sans', Helvetica, sans-serif;
}

h1 {
  font-size: 3.25em;
  font-family: 'Cotton';
  letter-spacing: 3px;
  line-height: 1.25;
  text-align: center;
  margin-top: 25px;
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 5em;
  }
}

.landing h2 {
  font-family: "Cotton";
  font-size: 2.75em;
  letter-spacing: 3px;
}

.introduction h2, .resources h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 25px;
}

.resources h2 {
  font-family: "Cotton";
}

.resources article p span {
  display: block;
  font-size: .9em;
  margin-top: 5px;
}

.resources article a {
  text-decoration: underline;
}

.introduction h3 {
  font-weight: 600;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.people-color {
  color: blue;
}

.artifacts-color {
  color: red;
}

.places-color {
  color: green;
}

#email {
  line-height: 1.35;
}

.instructions {
  font-family: "Courier New", monospace;
}

.book-title {
  font-size: 2em;
  padding-bottom: .7em;
}

.comas-title {
  font-size: 2em;
  padding-bottom: .3em;
}

.comas-body {
  padding-top: .75em;
}

.comas-body p {
  padding-top: 0em;
}

.comas-subtitle {
  font-size: 1.6em;
  padding-bottom: .2em;
}

.comas-subtitle p {
  padding-top: 0em;
  line-height: 1.25em;
}

.first-comas {
  font-size: 1.2em;
}

.book-chapter {
  font-size: 1.3em;
  letter-spacing: .05em;
  padding-bottom: .7em;
}

.superscript {
  font-size: .7em;
  padding-bottom: .3em;
}

.book-sub-chapter {
  font-size: 1.2em;
  margin-bottom: .25em;
}

.uppercase {
  text-transform: uppercase;
}

.price {
  padding-left: 25%;
}

body {
  margin: 0;
  line-height: 1.5em;
  padding-left: 15px;
  padding-right: 15px;
}

.clear {
  clear: both;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: black;
}

.open-global-map {
  display: none;
}

.index-modal {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.reading-modal-outer {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.begin-reading-modal {
  border: 3px solid black;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
  max-width: 10em;
  color: black;
}

.begin-reading-modal a {
  color: black;
}

.begin-reading-modal:hover {
  background-color: black;
  color: white !important;
}

.begin-reading-modal:hover a {
  color: white !important;
}

.modal-close-index {
  border: 2.8px solid black;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: black;
  width: 2em;
  height: 2em;
  position: relative;
  right: -90%;
  cursor: pointer;
}

.modal-close-index:hover {
  background-color: black;
  color: white;
}

#index-count-modal-mask {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index-count-modal {
  width: 25%;
  min-width: 300px;
  line-height: 2em;
  padding: 25px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(112, 112, 112, 0.2);
          box-shadow: 5px 5px 5px 1px rgba(112, 112, 112, 0.2);
  background-color: white;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.introduction {
  text-align: center;
  margin-bottom: 150px;
  padding-bottom: 150px;
}

.introduction article {
  margin-top: 50px;
}

.introduction ol {
  list-style: decimal;
}

.introduction ol li {
  margin-top: 20px;
}

.introduction img,
.resources img {
  width: 50%;
  margin-top: 15px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.resources {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.body {
  margin-left: 20%;
  font-size: .9em;
}

@media only screen and (min-width: 800px) {
  .body {
    margin-left: 33%;
    font-size: 1em;
  }
}

.landing img {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  margin: 0px 0px 0px 0px;
  z-index: -1;
}

.map-cont-xs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .25fr 1fr .25fr 1fr;
      grid-template-columns: 1fr .25fr 1fr .25fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 2em;
}

.lexia-map {
  height: 120px;
  border: 2px solid black;
}

.map-upper {
  height: 40px;
  text-align: center;
  border: 2px solid black;
}

.note-img-box {
  height: auto;
  padding-top: .2em;
}

.indent {
  padding-left: 10%;
}

.poem-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .1fr;
      grid-template-columns: 1fr .1fr;
  grid-gap: 1em;
}

.first-poem {
  font-size: 2em;
}

.top-section {
  max-width: 1200px;
  margin: auto;
}

#scholarly {
  display: none;
}

.work-title {
  position: fixed;
  z-index: 1;
}

.hidden-link {
  cursor: pointer;
  font-weight: normal !important;
}

.modal-right-close {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 1em;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.nav-x-list a {
  display: block;
  font-weight: bold;
}

.global-map {
  display: inline-block;
  padding: .5em;
  position: absolute;
  top: 3em;
  cursor: pointer;
}

.lexia-map-open {
  display: inline-block;
  padding: .5em;
  position: absolute;
  top: 3em;
  cursor: pointer;
}

#link-choice-close {
  left: 90%;
}

.map {
  border: 2px solid black;
  background-color: white;
  position: fixed;
  top: 5%;
  width: 80%;
  height: 80%;
  overflow-y: scroll;
  padding: 1em 2em 1em 2em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: none;
  z-index: 6;
}

.choose-link-modal {
  border: 2px solid black;
  background-color: white;
  position: fixed;
  top: 25%;
  width: 40%;
  height: 18em;
  padding: 1em 2em 1em 2em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: none;
  z-index: 5;
}

.secondary-choice {
  border: 2px solid black;
  background-color: white;
  position: fixed;
  top: 25%;
  width: 40%;
  height: 18em;
  padding: 1em 2em 1em 2em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: none;
  z-index: 5;
}

svg {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
}

.inner-choice-modal {
  background-color: grey;
  margin-top: 2em;
  height: 12em;
  overflow-y: auto;
}

.modal-lexia {
  padding: .5em 1em 0em 1em;
}

.modal-lexia:hover {
  background-color: lightgrey;
}

.lexia-number {
  text-align: center;
}

.wrapper {
  line-height: 1.25;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7em;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
  z-index: 6;
  pointer-events: none;
}

.toggle {
  margin: auto;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  max-width: 1200px;
  z-index: 6;
  padding-left: 1em;
  pointer-events: all;
}

@media only screen and (min-width: 1230px) {
  .toggle {
    padding-left: 0;
  }
}

.large-nine {
  font-size: 2em;
}

.footer-label {
  position: relative;
  top: .5em;
  padding-right: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A3A2A2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #017171;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#copyright {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  font-size: .85em;
}

.landing-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 1.15em;
  font-weight: 600;
  margin: 25px 0;
}

.landing-nav a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.landing-nav a:hover {
  opacity: .5;
}

@media only screen and (min-width: 800px) {
  .landing-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.begin-reading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 25px 0;
  text-transform: uppercase;
  font-weight: 500;
}

.begin-reading a {
  border: 3px solid black;
  padding: 10px 25px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

.begin-reading a:hover {
  background-color: black;
  color: white;
}

@media only screen and (min-width: 800px) {
  .begin-reading {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav-control {
  position: fixed;
  width: 100px;
  bottom: 15vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "mapview showlinks" "leftarrow rightarrow" ". ." "navigator navigator" ". ." "Classic Classic";
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 5;
}

@media only screen and (min-width: 800px) {
  .nav-control {
    width: 150px;
  }
}

#greyed-link {
  color: lightgray;
}

.mapview:hover {
  background-color: lightgray;
  cursor: pointer;
}

.nav-hover:hover {
  background-color: lightgray;
  cursor: pointer;
}

.navigator-open {
  border: 2px solid black;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: navigator;
  margin-top: 20px;
  background-color: white;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  padding: 15px 0;
}

.navigator-open-2 {
  cursor: pointer;
}

.show-notes {
  border: 2px solid black;
  top: 10em;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Classic;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  padding: 15px 0;
}

.left {
  border: 2px solid black;
  border-top: none;
  border-right: none;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: leftarrow;
  background-color: white;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  padding: 15px 0;
}

.left::after {
  display: block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  content: '➧';
  height: 100%;
  width: 100%;
  font-size: 3em;
  line-height: 1;
}

.right {
  border: 2px solid black;
  border-top: none;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: rightarrow;
  background-color: white;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  padding: 15px 0;
}

.right::after {
  display: block;
  content: '➧';
  height: 100%;
  width: 100%;
  font-size: 3em;
  line-height: 1;
}

.mapview {
  border: 2px solid black;
  border-right: none;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: mapview;
  background-color: white;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  padding: 15px 0;
}

.show-links {
  border: 2px solid black;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: showlinks;
  background-color: white;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  padding: 15px 0;
}

.navigator {
  border: 2px solid black;
  background-color: white;
  position: fixed;
  top: 5%;
  width: 18em;
  height: 85%;
  overflow-y: auto;
  padding: 1em 2em 1em 2em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: none;
  z-index: 5;
}

.navigator a {
  text-decoration: none;
  font-weight: bold;
}

.nav-inner {
  overflow-y: auto;
}

#nav-close {
  left: 85%;
}

.map-container-grid {
  width: 90%;
  display: -ms-grid;
  display: grid;
  max-width: 1100px;
  min-width: 300px;
  margin: 0 auto;
  -ms-grid-columns: 1fr .25fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr;
      grid-template-columns: 1fr .25fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr;
  -ms-grid-rows: .1fr 5.2em;
      grid-template-rows: .1fr 5.2em;
  text-align: center;
}

.map-outer {
  cursor: pointer;
}

.arrow-scross {
  height: 100%;
}

.arrow {
  width: 2.25em;
}

#first-grid-height {
  height: 5.1em;
  font-size: 1em;
}

.arrow-down {
  display: inline;
  width: 100%;
  margin-left: -10px;
  max-width: 10em;
  margin: 0 auto;
}

#doorway-open {
  display: none;
}

#hallucination-open {
  display: none;
}

#freedom-open {
  display: none;
}

#piglove-open {
  display: none;
}

#automaton-open {
  display: none;
}

#meat-open {
  display: none;
}

#devil-open {
  display: none;
}

#digestion-open {
  display: none;
}

#time-end {
  display: none;
}

#chronology-map {
  display: none;
}

.arrow-up-side {
  min-height: 20em;
  max-height: 22em;
}

.side-up {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
  -ms-grid-row: 7;
  -ms-grid-row-span: 6;
  grid-row: 7/13;
}

.up-gutter {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2/7;
}

.small-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.small-box-inner {
  border-bottom: 2px black solid;
  height: .25em;
}

.small-box {
  border: 2px black solid;
  height: 1em;
  max-width: 2em;
}

.grid-area-alter {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7/10;
  height: 100%;
  z-index: -10;
}

#eighty {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

#eightyone {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3/8;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7/9;
  min-height: 6em;
}

#eightytwo {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.small-grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.small-box-inner {
  border-bottom: 2px black solid;
  height: .25em;
}

.small-box {
  border: 2px black solid;
  height: 1em;
}

.arrow-side {
  height: 22em;
  width: 3em;
}

.bottom-gutter {
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1/10;
  margin-bottom: -.5%;
}

.bottom-gutter-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3/8;
  margin-bottom: -1.5%;
}

.bottom-gutter-6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3/8;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  margin-bottom: -.5%;
}

.bottom-gutter-3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1/10;
  margin-bottom: -.2%;
}

.bottom-gutter-4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1/10;
  margin-bottom: -.2%;
}

.bottom-gutter-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  margin-bottom: -.5%;
}

img {
  margin: 0;
  padding: 0;
}

.arrow-bottom {
  width: 100%;
  margin-bottom: -.75%;
}

.arrow-bottom-2 {
  width: 100%;
  margin-bottom: -.5%;
}

.right-intro {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 8;
  grid-row: 3/11;
}

.left-intro {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 8;
  grid-row: 3/11;
}

.nav-arrow {
  max-height: 30em;
}

.c-bottom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
}

.arrow-bottom-3 {
  width: 100%;
}

.arrow-bottom-second {
  width: 100%;
}

.arrow-cross {
  width: 100%;
  min-height: 10em;
}

.across {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  margin-bottom: -1%;
}

.across-arrow {
  width: 100%;
}

.map-container-grid-1 {
  width: 90%;
  display: -ms-grid;
  display: grid;
  max-width: 800px;
  min-width: 300px;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 1fr .25fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr;
      grid-template-columns: 1fr .25fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr;
}

.map-container-grid-4 {
  width: 90%;
  display: -ms-grid;
  display: grid;
  max-width: 800px;
  min-width: 300px;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 1fr .25fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr;
      grid-template-columns: 1fr .25fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr;
  -ms-grid-rows: .1fr 5.1em .1fr 5.1em .1fr 5.1em .1fr 5.1em .1fr 5.1em .1fr 5.1em;
      grid-template-rows: .1fr 5.1em .1fr 5.1em .1fr 5.1em .1fr 5.1em .1fr 5.1em .1fr 5.1em;
}

.map-container-grid-3 {
  width: 90%;
  display: -ms-grid;
  display: grid;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

.first {
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  width: 90%;
  -ms-grid-columns: .75fr .25fr 1fr .25fr 1fr .25fr 1fr .75fr .5fr;
      grid-template-columns: .75fr .25fr 1fr .25fr 1fr .25fr 1fr .75fr .5fr;
}

.second {
  display: -ms-grid;
  display: grid;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  width: 90%;
  -ms-grid-columns: 1fr .25fr 1fr .25fr 1fr .25fr 1fr .25fr;
      grid-template-columns: 1fr .25fr 1fr .25fr 1fr .25fr 1fr .25fr;
}

.second-2 {
  display: -ms-grid;
  display: grid;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  width: 90%;
  -ms-grid-columns: .75fr 1fr .25fr 1fr .25fr 1fr .75fr;
      grid-template-columns: .75fr 1fr .25fr 1fr .25fr 1fr .75fr;
}

#intro-map {
  display: none;
}

#time-map {
  display: none;
}

#character-map {
  display: none;
}

#artifacts-map {
  display: none;
}

#places-map {
  display: none;
}

#oneex-map {
  display: none;
}

#twoex-map {
  display: none;
}

#threeex-map {
  display: none;
}

#notes-map {
  display: none;
}

#fig-map {
  display: none;
}

#cup-map {
  display: none;
}

#vieu-map {
  display: none;
}

#acid-map {
  display: none;
}

#pig-map {
  display: none;
}

#spam-map {
  display: none;
}

#find-map {
  display: none;
}

#shower-map {
  display: none;
}

#holodeck-map {
  display: none;
}

#oneone-map {
  display: none;
}

#onetwo-map {
  display: none;
}

#onethree-map {
  display: none;
}

#twoone-map {
  display: none;
}

#twotwo-map {
  display: none;
}

#twothree-map {
  display: none;
}

#threeone-map {
  display: none;
}

#threetwo-map {
  display: none;
}

#threethree-map {
  display: none;
}

.five-grid {
  display: -ms-grid;
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  width: 90%;
  -ms-grid-columns: 1fr .25fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr;
      grid-template-columns: 1fr .25fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr;
  -ms-grid-rows: 5.2em .25fr 5.2em .25fr;
      grid-template-rows: 5.2em .25fr 5.2em .25fr;
}

.five-grid-secondary {
  display: -ms-grid;
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  width: 90%;
  -ms-grid-columns: .75fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr .75fr;
      grid-template-columns: .75fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr .75fr;
  -ms-grid-rows: 5.2em .25fr 5.2em .25fr 5.2em .25fr 5.2em .25fr 5.2em .25fr;
      grid-template-rows: 5.2em .25fr 5.2em .25fr 5.2em .25fr 5.2em .25fr 5.2em .25fr;
}

.five-gutter {
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1/10;
  max-width: 800px;
}

.two-down-five {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  max-width: 800px;
}

.line {
  position: absolute;
  width: 2px;
  margin-top: -1px;
  background-color: black;
}

.block {
  height: 1em;
}

.down-two {
  width: 100%;
  margin-bottom: -2%;
}

.line-cont {
  width: 80%;
  overflow: hidden;
}

#line {
  position: absolute;
  width: 2px;
  margin-top: -1px;
  background-color: black;
}

#line2 {
  position: absolute;
  width: 2px;
  margin-top: -1px;
  background-color: black;
}

#line3 {
  position: absolute;
  width: 2px;
  margin-top: -1px;
  background-color: black;
}

#line5 {
  position: absolute;
  width: 2px;
  margin-top: -1px;
  background-color: black;
}

.svg {
  position: absolute;
}

.map-hidden {
  display: none;
}

.map-active {
  display: block;
}

.increase-line-space {
  line-height: 2em;
}

body.contemporary {
  background-image: url(../imgs/all-color-swirl.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Fira Sans", sans-serif;
  position: relative;
}

body.contemporary .wrapper::after {
  content: '';
  display: block;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}

body.contemporary .contemp-hide {
  display: block;
  display: none;
}

body.contemporary .introduction {
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
}

body.contemporary .introduction h2 {
  font-family: "Cotton";
}

body.contemporary .introduction h3 {
  cursor: pointer;
}

body.contemporary .introduction h3::before {
  display: inline-block;
  content: '\203A';
  margin-right: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body.contemporary #nav-window-top {
  max-width: 300px;
  -ms-grid-column-align: center;
      justify-self: center;
}

body.contemporary #nav-close {
  display: none;
  right: initial;
  top: 11%;
}

body.contemporary .bulleted-intro-list ul {
  list-style: circle;
}

body.contemporary .bulleted-intro-list li {
  margin-top: 15px;
}

body.contemporary .bulleted-intro-list {
  padding-left: 2em;
}

body.contemporary .note-pull-quote {
  padding-left: 2em;
}

body.contemporary .introduction h3:hover::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body.contemporary .note039 .lexia-title div {
  margin-bottom: 15px;
}

body.contemporary .lexia-title-icon {
  display: inline-block;
  height: 1.1em;
  padding-right: .5em;
  position: relative;
  top: 2px;
}

body.contemporary #email .date {
  color: white;
  font-weight: bold;
}

body.contemporary #email .date.black-date {
  color: black !important;
  font-weight: normal !important;
}

body.contemporary h6 {
  font-weight: bold;
  font-size: 1.1em;
}

body.contemporary .start-larger {
  font-family: "Source Serif Pro", serif;
}

body.contemporary .newspaper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Source Serif Pro", serif;
}

body.contemporary .newspaper div {
  padding: 15px;
}

body.contemporary .newspaper-headline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  margin-left: 15px;
  line-height: 1;
  text-align: left;
}

body.contemporary .modal-right-close {
  border: 2.8px solid black;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: black;
  width: 2em;
  height: 2em;
  right: 500px;
  z-index: 10;
  cursor: pointer;
}

body.contemporary .modal-right-close:hover {
  background-color: black;
  color: white;
}

body.contemporary .map {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  top: 0;
}

body.contemporary #map-border {
  position: relative;
  z-index: 5;
}

body.contemporary .contemporary-dedication {
  display: block;
}

body.contemporary .classic-dedication {
  display: none;
}

body.contemporary .contemporary-img {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 5px;
}

body.contemporary .contemporary-img img {
  width: 100%;
}

body.contemporary .classic-img {
  display: none;
}

body.contemporary .map-container-grid,
body.contemporary .map-container-grid-1,
body.contemporary .map-container-grid-4,
body.contemporary .notes-map-background {
  background-color: white;
  max-width: 60%;
  margin: 30px auto;
  margin-bottom: 30px;
  padding: 100px 50px;
  border-radius: 10px;
  width: 100%;
}

body.contemporary .note-image {
  max-width: 100%;
}

body.contemporary .map-close {
  position: absolute;
  top: 6em;
  right: 23%;
  cursor: pointer;
}

body.contemporary .global-map {
  -webkit-box-shadow: 5px 5px 5px 1px rgba(201, 63, 63, 0.2);
          box-shadow: 5px 5px 5px 1px rgba(201, 63, 63, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: black;
  color: white;
  max-width: 10em;
  border-radius: 5px;
  position: absolute;
  left: 23%;
  top: 5em;
}

body.contemporary .global-map:hover {
  background-color: #707070;
  color: white;
}

body.contemporary .lexia-map-open {
  -webkit-box-shadow: 5px 5px 5px 1px rgba(112, 112, 112, 0.2);
          box-shadow: 5px 5px 5px 1px rgba(112, 112, 112, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: black;
  color: white;
  max-width: 10em;
  border-radius: 5px;
  position: absolute;
  left: 23%;
  top: 5em;
}

body.contemporary .lexia-map-open:hover {
  background-color: #707070;
  color: white;
}

body.contemporary .map-outer {
  background-color: white;
  color: white;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(112, 112, 112, 0.2);
          box-shadow: 5px 5px 5px 1px rgba(112, 112, 112, 0.2);
  width: 98%;
  height: 5em;
  border-radius: 0px 0px 5px 5px;
}

body.contemporary .map-inner a {
  color: white;
}

body.contemporary .map-inner {
  background-color: black;
  color: white;
  width: 100%;
  height: 2em;
  font-size: .75em;
  line-height: 1.75em;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

body.contemporary .body {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 40px;
  margin-top: 80px;
  margin-bottom: 100px;
  position: relative;
  z-index: 5;
}

@media only screen and (min-width: 800px) {
  body.contemporary .body {
    margin-top: 30px;
  }
}

body.contemporary .nav-control {
  font-family: 'Fira Sans';
}

body.contemporary .left {
  border: none;
  border-radius: 0 0 0 5px;
}

body.contemporary .left::after {
  content: '\2039';
  -webkit-transform: none;
          transform: none;
}

body.contemporary .right {
  border: none;
  border-radius: 0 0 5px 0;
}

body.contemporary .right::after {
  content: '\203A';
}

body.contemporary .mapview {
  border: none;
  border-radius: 5px 0 0 0;
}

body.contemporary .navigator-open {
  border: none;
  border-radius: 5px;
}

body.contemporary .show-links {
  border: none;
  border-radius: 0 5px 0 0;
}

body.contemporary #navigator {
  font-family: "Fira Sans", sans-serif;
  border: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 7;
}

body.contemporary #navigator .date {
  color: black !important;
  font-weight: normal;
  text-decoration: underline;
}

body.contemporary #navigator ol {
  background-color: white;
  border-radius: 5px;
  max-width: 300px;
  padding: 40px;
  margin: 40px auto auto auto;
  position: relative;
}

body.contemporary #navigator .lexia-number {
  color: black;
}

body.contemporary #nav-window-top {
  width: 100%;
}

body.contemporary .general-link {
  color: black;
}

body.contemporary .title span {
  display: block;
}

body.contemporary .title {
  text-transform: uppercase;
}

body.contemporary .people {
  color: black;
}

body.contemporary a.people {
  color: #018C8C;
}

body.contemporary .artifacts {
  color: black;
}

body.contemporary a.artifacts {
  color: #F2695C;
}

body.contemporary .places {
  color: black;
}

body.contemporary a.places {
  color: #75C1A4;
}

body.contemporary .lexia-number {
  text-align: left;
  position: fixed;
  top: 40px;
  color: white;
}

@media only screen and (min-width: 800px) {
  body.contemporary .lexia-number {
    top: 60px;
  }
}

body.contemporary .work-title {
  font-family: "Fira Sans", sans-serif;
  color: white;
  top: 15px;
  font-weight: bold;
}

@media only screen and (min-width: 800px) {
  body.contemporary .work-title {
    top: auto;
  }
}

body.contemporary .title {
  max-width: 1200px;
  font-family: "Fira Sans", sans-serif;
  margin: auto;
  position: relative;
  max-width: auto;
  top: initial;
  left: initial;
  color: black;
  z-index: -1;
  line-height: 1.65;
}

body.contemporary .title a {
  color: black;
  font-weight: bold;
}

body.contemporary .hidden {
  display: none !important;
}

body.contemporary .hidden-link {
  color: black !important;
}

body.contemporary .date {
  color: black;
}

body.contemporary a.date {
  color: black;
  font-weight: bold;
}

@media only screen and (min-width: 800px) {
  body.contemporary .title {
    color: white;
    position: fixed;
    top: 90px;
    left: 15px;
    right: 0;
  }
  body.contemporary .title a {
    color: white;
  }
  body.contemporary a.date {
    color: white;
  }
}

body.contemporary #navigator .arch-text {
  display: none;
}

body.contemporary #map-border .arch-text {
  display: none;
}

body.contemporary #map-window-top {
  width: 1000px;
}

body.contemporary #time-date-reset a.date {
  color: #B2B2B2;
}

body.contemporary #time-date-reset a.date {
  color: black !important;
  cursor: pointer;
}

body.contemporary a.people,
body.contemporary a.places,
body.contemporary a.artifacts {
  display: inline;
  font-weight: bold;
}

body.contemporary .people.underline,
body.contemporary .places.underline,
body.contemporary .artifacts.underline,
body.contemporary .date.underline {
  text-decoration: none;
}

body.contemporary #holodeck {
  font-family: "Exo 2", monospace;
  font-size: 1.1em;
}

body.contemporary #holodeck .title {
  font-size: .9em;
}

body.contemporary .poem {
  font-family: "Source Serif Pro", serif;
}

body.contemporary #email {
  font-family: "Courier New", monospace;
}

body.archive {
  font-family: 'New York', Georgia, serif;
  background-image: url(../imgs/macos9-wallpaper.jpg);
}

body.archive .classic-hide {
  display: none;
}

body.archive .body {
  max-height: 80vh;
  background-color: white;
}

body.archive h6 {
  font-weight: bold;
}

body.archive .map-outer {
  border: 2px black solid;
  background-color: white;
  color: black;
  -webkit-box-shadow: 3px 3px 0px 1px black;
          box-shadow: 3px 3px 0px 1px black;
  width: 98%;
  height: 5em;
}

body.archive .contemporary-img {
  display: none;
}

body.archive .lexia-title-icon {
  display: none;
}

body.archive .center-title {
  text-align: center;
}

body.archive .note039 .lexia-title div {
  margin-bottom: 15px;
}

body.archive .classic-img {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 5px;
}

body.archive .map-inner {
  border-bottom: 2px black solid;
  color: black;
  width: 100%;
  height: 2em;
  font-size: .75em;
  line-height: 1.75em;
  text-align: center;
}

body.archive .map-inner a {
  color: black;
}

body.archive .introduction {
  max-width: 1000px;
  margin: 0 auto;
}

body.archive .hidden {
  display: inline;
}

body.archive .introduction h1 {
  font-family: "New York", Georgia, serif;
  text-transform: uppercase;
  font-size: 3.5em;
}

body.archive .introduction .nav-border {
  left: 15px;
}

body.archive .nav-x-list a {
  text-decoration: underline;
}

body.archive .people {
  color: #0000ff;
}

body.archive .artifacts {
  color: #FF0000;
}

body.archive .places {
  color: #008000;
}

body.archive .date {
  color: #FF69B4;
}

body.archive .general-link {
  color: #87CEEB;
}

body.archive .nav-control {
  font-family: "New York", Georgia, serif;
}

body.archive .modal-right-close {
  border: 2.8px solid black;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: black;
  width: inherit;
  height: inherit;
  top: 0;
  padding: 0;
  height: 20px;
  width: 20px;
}

body.archive .modal-right-close:hover {
  background-color: black;
  color: white;
}

body.archive .global-map {
  border: 3px solid black;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: white;
  color: black;
  max-width: 10em;
}

body.archive .global-map:hover {
  background-color: black;
  color: white;
}

body.archive .lexia-map-open {
  border: 3px solid black;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: white;
  color: black;
  max-width: 10em;
  display: none;
}

body.archive .lexia-map-open:hover {
  background-color: black;
  color: white;
}

body.archive .contemporary-dedication {
  display: none;
}

body.archive .classic-dedication {
  display: block;
}

body.archive .arch-text {
  display: -ms-inline-grid;
  display: inline-grid;
  background-color: #cccccc;
  background-image: url(../imgs/lex_background_left.svg), url(../imgs/lex_background_right.svg);
  background-position: right, left;
  background-repeat: no-repeat;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}

body.archive .lexia-number {
  border-style: solid;
  border-width: 2px 2px 0;
  border-color: #ffffff;
  background-color: #cccccc;
  background: url(../imgs/lex_background_left.svg) left no-repeat, url(../imgs/lex_background_right.svg) right no-repeat, url(../imgs/lex_background.svg) repeat;
  background-size: auto 24px;
  position: relative;
}

body.archive .lexia-number .faux-close {
  position: absolute;
  display: -ms-grid;
  display: grid;
  width: 17px;
  height: 17px;
  border: solid 2px #888888;
  right: 3px;
  top: 2px;
}

body.archive .lexia-number .faux-close div, body.archive .lexia-number .faux-close .modal-right-close {
  display: -ms-inline-grid;
  display: inline-grid;
  border: solid black;
  border-width: 2px 2px 0;
  border-bottom-width: 2px;
  background-color: #cccccc;
}

body.archive .work-title {
  margin-top: -60px;
  font-weight: bold;
}

body.archive .line-break {
  display: block;
}

body.archive .arch-black-out {
  border: solid black;
  border-width: 2px 2px 0;
  margin-left: 20%;
  margin-top: 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 800px) {
  body.archive .arch-black-out {
    margin-left: 33%;
  }
}

body.archive .border-high {
  border-color: #ffffff;
  border-bottom-color: #888888;
}

body.archive .border-back {
  border-width: 4px;
  border-color: #cccccc;
}

body.archive .border-shadow {
  border-color: #888888;
}

body.archive .body, body.archive .border-high, body.archive .border-back, body.archive .border-shadow {
  border-style: solid;
}

body.archive .body {
  display: -ms-grid;
  display: grid;
}

body.archive .body, body.archive .border-high, body.archive .border-shadow, body.archive .outline {
  border-width: 2px;
}

body.archive .body, body.archive .border-high, body.archive .border-back {
  border-top-width: 0;
}

body.archive .border-high, body.archive .border-back, body.archive .border-shadow, body.archive .outline {
  display: -ms-inline-grid;
  display: inline-grid;
}

body.archive .border-shadow {
  border-bottom-color: #ffffff;
}

body.archive .outline {
  border: solid 2px black;
  background-color: white;
}

body.archive .body-pad {
  padding: 15px;
  max-height: 60vh;
  overflow-y: scroll;
}

body.archive .window-top {
  display: -ms-inline-grid;
  display: inline-grid;
}

body.archive ::-webkit-scrollbar {
  width: 20px;
  top: 1px;
  position: relative;
}

body.archive ::-webkit-scrollbar-button {
  border-width: 0 2px;
  border-style: solid;
  border-color: black;
  display: block;
  background-color: #cccccc;
  height: 10px;
}

body.archive ::-webkit-scrollbar-track, body.archive ::-webkit-scrollbar-thumb {
  background: white;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

body.archive ::-webkit-scrollbar-thumb {
  background: #cccccc;
}

body.archive ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body.archive .nav-border {
  border: solid 2px black;
  position: fixed;
  width: 150px;
  bottom: 15vh;
  background-color: #cccccc;
}

body.archive .nav-border .outline {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 3px;
  background-color: white;
}

body.archive .nav-border .nav-control {
  position: relative;
  width: auto;
  bottom: auto;
  border: solid black;
  border-width: 2px 0 0;
}

body.archive .nav-border .nav-control .navigator-open {
  margin: 0;
  border-top: solid black 2px;
}

body.archive .nav-border .nav-control div {
  border: 0;
}

body.archive .shadow {
  -webkit-box-shadow: black 5px 5px;
          box-shadow: black 5px 5px;
}

body.archive #map-border {
  width: 80%;
}

body.archive #navigator {
  width: 18em;
  height: 85%;
}

body.archive .nav-inner {
  padding: 15px 0;
  background-color: white;
  display: inline;
}

body.archive .map, body.archive #navigator {
  max-height: 65vh;
}

body.archive #map-border, body.archive #navigator {
  display: none;
  position: fixed;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 10;
}

body.archive #map-border .border-high, body.archive #navigator .border-high {
  position: relative;
  border-width: inherit;
  -ms-grid-rows: 24px auto;
      grid-template-rows: 24px auto;
}

body.archive #map-border .border-back, body.archive #navigator .border-back {
  height: inherit;
}

body.archive #map-border #map-close, body.archive #map-border #nav-close, body.archive #navigator #map-close, body.archive #navigator #nav-close {
  font-size: 0.7em;
  left: 0;
}

body.archive #map-border .map, body.archive #navigator .map {
  margin-left: 15px;
}

body.archive #map-border .map, body.archive #map-border .navigator, body.archive #navigator .map, body.archive #navigator .navigator {
  -webkit-transform: none;
          transform: none;
  display: inherit;
  border-width: 0;
  position: relative;
  left: 0;
  top: auto;
  width: auto;
  height: auto;
  padding: 0;
}

body.archive #map-border .map .lexia-map-open, body.archive #map-border .map .global-map, body.archive #map-border .navigator .lexia-map-open, body.archive #map-border .navigator .global-map, body.archive #navigator .map .lexia-map-open, body.archive #navigator .map .global-map, body.archive #navigator .navigator .lexia-map-open, body.archive #navigator .navigator .global-map {
  position: relative;
}

body.archive .mapview:hover {
  background-color: lightgrey;
}

@media only screen and (min-width: 800px) {
  body.archive .mapview {
    border: 2px solid black;
    border-right: 2px solid black;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: mapview;
    background-color: white;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    padding: 15px 0;
  }
  body.archive .mapview:hover {
    background-color: lightgrey;
  }
}

body.archive #holodeck {
  font-family: "Monaco", "Consolas", sans-serif;
}

body.archive .poem {
  font-family: "New York", Georgia, serif;
}

body.archive #email {
  font-family: "Courier New", monospace;
}

/* closes body.archive */
/*# sourceMappingURL=main.css.map */